---
import { PROJECTS } from "../const.js";
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

---

<div
  class="grid gap-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2"
>
  {PROJECTS.map(({ title, description, link, github, image, tags }) => (
    <div class="rounded-lg overflow-hidden ">
      <img
        src={image}
        alt={title}
        class="object-cover w-full h-50 transition hover:scale-105 duration-500 sm:h-58 md:scale-110 md:group-hover:scale-105"
        loading="lazy"
      />
      <div class="pt-7">
        <h3 class="text-xl font-semibold text-white">{title}</h3>
        <p class="text-gray-300 mt-1">{description}</p>
        <ul class="flex flex-wrap mt-2 gap-x-2 gap-y-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`inline-flex items-center gap-x-1.5 py-2 px-3 rounded-full text-xs font-medium ${tag.class} text-gray-200 transition-all transform hover:-translate-y-1 hover:ml-1 hover:scale-105 border border-transparent dark:border-gray-800`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
      </div>
      <footer class="flex items-center mt-4 gap-x-2">
        {github && (
          <LinkButton href={github}>
            <GitHub class="size-6" /> Codigo
          </LinkButton>
        )}
        {link && (
          <LinkButton href={link}>
            <Link class="size-4" />
            Preview
          </LinkButton>
        )}
      </footer>
    </div>
  ))}
</div>
